body {
    background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', 'helvetica', arial, sans-serif;
    font-weight: 300;
    color: #62686f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 300;
}

.container {
    width: 960px;
    margin: 100px auto 500px auto;
}

.main-header {
    padding: 1px;
    background-image: url(../img/banner.jpg);
}

.main-header h1 {
    margin: 5px auto;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans', 'helvetica', arial, sans-serif;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.main-header__avatar {
    display: block;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 999px;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}

ul.inline-items li {
    display: inline;
}

.main-nav {
    text-align: center;
    background-color: #333;
    padding-top: 1px;
    padding-bottom: 10px;
}

.main-nav ul li {
    margin: 15px 10px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.info-section {
    background-color: #fff;
    margin-top: -20px;
    padding: 30px 60px;
}

.info-section header {
    text-align: center;
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info-section header h2:after {
    content: "";
    display: table;
    width: 90px;
    border-bottom: 3px solid black;
    margin: 0 auto;
}

.info-section__description {
    font-style: italic;
}

.whatido__skill {
    padding-top: 120px;
    width: 33.3%;
    text-align: center;
}

ul.whatido__skill-list {
    list-style: none;
    overflow: hidden;
    margin-top: 60px;
}

.whatido__skill--code {
    padding-bottom: 40px;
    background-image: url(../img/skill-code.png);
    background-repeat: no-repeat;
    background-position: center top;
    float: left;
}

.whatido__skill--design {
    padding-bottom: 40px;
    background-image: url(../img/skill-design.png);
    background-repeat: no-repeat;
    background-position: center top;
    float: left;
}

.whatido__skill--product {
    padding-bottom: 40px;
    background-image: url(../img/skill-product.png);
    background-repeat: no-repeat;
    background-position: center top;
    float: left;
}

.education-experience {
    padding-top: 120px;
}

.education-experience__list {
    overflow: hidden;
    list-style: none;
}

.education-experience__list li img {
    float: left;
    width: 180px;
    margin-right: 40px;
}

.education-experience__content {
    overflow: hidden;
}

.education-experience__description {
    overflow: hidden
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.photos__list {
    list-style: none;
    padding-top: 20px;
}

.photos__list li {
    float: left;
    width: 25%;
}

.photos__list li img {
    width: 100%;
    padding: 10px;
}

.get-in-touch {
    padding-top: 100px;
}

.get-in-touch__list {
    list-style: none;
    overflow: hidden;
}

ul.get-in-touch__list li {
    padding-top: 20px;
    width: 25%;
    float: left;
    text-align: center
}

.contact form {
    margin: 0 auto;
    width: 40%;
}

.contact__container {
    position: relative;
    width: 100%;
}

.contact_lable {
    position: absolute;
    text-align: right;
    left: -105%;
    margin-top: 7px;
    width: 100%;
}

.contact input,
.contact textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px
}

.contact button {
    border: none;
    border-radius: 9999px;
    background: #ffd524;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    box-shadow: 0 3px 0 #daae1d;
    width: 100%;
}